$body_bg_clr: whitesmoke;
$body_bg_image: repeating-linear-gradient(
    135deg,
    rgba(101, 101, 101, 0.1) 0px,
    rgba(101, 101, 101, 0.1) 15px,
    rgba(229, 229, 229, 0.1) 15px,
    rgba(229, 229, 229, 0.1) 37px,
    rgba(218, 218, 218, 0.1) 37px,
    rgba(218, 218, 218, 0.1) 79px,
    rgba(94, 94, 94, 0.1) 79px,
    rgba(94, 94, 94, 0.1) 100px,
    rgba(100, 100, 100, 0.1) 100px,
    rgba(100, 100, 100, 0.1) 148px,
    rgba(182, 182, 182, 0.1) 148px,
    rgba(182, 182, 182, 0.1) 175px
  ),
  repeating-linear-gradient(
    135deg,
    rgba(21, 21, 21, 0.1) 0px,
    rgba(21, 21, 21, 0.1) 36px,
    rgba(13, 13, 13, 0.1) 36px,
    rgba(13, 13, 13, 0.1) 53px,
    rgba(229, 229, 229, 0.1) 53px,
    rgba(229, 229, 229, 0.1) 100px,
    rgba(96, 96, 96, 0.1) 100px,
    rgba(96, 96, 96, 0.1) 144px,
    rgba(109, 109, 109, 0.1) 144px,
    rgba(109, 109, 109, 0.1) 170px,
    rgba(89, 89, 89, 0.1) 170px,
    rgba(89, 89, 89, 0.1) 200px
  ),
  repeating-linear-gradient(
    135deg,
    rgba(185, 185, 185, 0.1) 0px,
    rgba(185, 185, 185, 0.1) 117px,
    rgba(12, 12, 12, 0.1) 117px,
    rgba(12, 12, 12, 0.1) 170px,
    rgba(216, 216, 216, 0.1) 170px,
    rgba(216, 216, 216, 0.1) 264px,
    rgba(137, 137, 137, 0.1) 264px,
    rgba(137, 137, 137, 0.1) 329px,
    rgba(74, 74, 74, 0.1) 329px,
    rgba(74, 74, 74, 0.1) 413px,
    rgba(233, 233, 233, 0.1) 413px,
    rgba(233, 233, 233, 0.1) 535px
  ),
  repeating-linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.1) 0px,
    rgba(0, 0, 0, 0.1) 56px,
    rgba(91, 91, 91, 0.1) 56px,
    rgba(91, 91, 91, 0.1) 106px,
    rgba(214, 214, 214, 0.1) 106px,
    rgba(214, 214, 214, 0.1) 162px,
    rgba(100, 100, 100, 0.1) 162px,
    rgba(100, 100, 100, 0.1) 253px,
    rgba(232, 232, 232, 0.1) 253px,
    rgba(232, 232, 232, 0.1) 402px,
    rgba(208, 208, 208, 0.1) 402px,
    rgba(208, 208, 208, 0.1) 461px
  ),
  linear-gradient(90deg, rgb(94, 129, 235), rgb(58, 136, 236));

$main_font: 'Overpass', sans-serif;
$header_font: 'Lobster', cursive;
